.introduction {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
.preview-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
  .left {
    border: 1px solid black;
    width: 30%;
    height: 100%;
    .left-title {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: teal;
      h1 {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .left-bottom {
      display: flex;
      position: absolute;
      bottom: 10px;
    }
  }

  .right {
    border: 1px solid green;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .top {
      border: 1px solid red;
      height: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .middle {
      border: 1px solid blue;
      height: 80%;
      display: flex;
      justify-content: center;
      .image-holder {
        position: relative;
        margin: 10px;
        border: 1px solid black;
        width: 100%;
        .background {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 0;
        }
        .product-images {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          z-index: 100;
          .image-container {
            position: inherit;
            .rotate-image {
              z-index: 5;

              .product-image {
                width: [width];
                height: [height];
                object-fit: cover;
                cursor: move;
                user-select: none;
              }
            }
            .product-delete {
              position: absolute;
              right: 0px;
              top: 0px;
              z-index: 6;
              color: red;
              border: 2px solid red;
              user-select: none;
              cursor: pointer;
            }
          }
        }
      }
    }
    .bottom {
      border: 1px solid yellow;
      height: 14%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1px;
      .bottom-adjust {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid teal;
        width: 700px;
        padding-bottom: 5px;
        padding-top: 5px;

        .preview-range {
          width: 500px;
        }
      }
    }
  }
  .cart-items {
    padding: 10px;
    height: 68.1%;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: teal teal;
    border: 1px solid teal;

    *::-webkit-scrollbar {
      width: 1px;
    }
    *::-webkit-scrollbar-track {
      background: teal;
    }

    *::-webkit-scrollbar-thumb {
      background-color: teal;
      border-radius: 20px;
      border: 1px solid teal;
    }
  }
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    img {
      width: 60px;
      height: 80px;
      object-fit: cover;
    }
    .info {
      h1 {
        width: 280px;
        font-size: 18px;
        font-weight: 500;
      }
      .price {
        font-size: bold;
      }
    }
  }
}

.adjust-upload-page {
  min-height: 90vh;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    user-select: none;
    .left {
      background-color: white;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 10px -1px 5px 0px rgba(0, 0, 0, 0.39);
      -webkit-box-shadow: 10px -1px 5px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 10px -1px 5px 0px rgba(0, 0, 0, 0.39);
      .size {
        height: 50vh;
      }
      .image-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .image-option {
          height: 15vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .upload-status {
            color: green;
          }
        }
        .image-option-pixels {
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          border: 1px solid teal;
          padding: 5px;
        }
        button {
          width: 250px;
          padding: 10px;
          background-color: turquoise;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          border: none;
          font-size: 20px;
          cursor: pointer;
          border-radius: 5px;
        }
        button:hover {
          background-color: teal;
          color: white;
        }
        .continue-disabled {
          background-color: grey;
          cursor: not-allowed;
        }
        .continue-disabled:hover {
          background-color: grey;
          color: rgb(110, 110, 110);
        }
        .image-upload {
          width: 230px;
          height: 20px;
          padding: 10px;
          background-color: turquoise;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          border: none;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          input {
            position: absolute;
            left: -99999rem;
          }
        }
        .cart-items {
          padding: 10px;
          height: 40vh;
          user-select: none;
          scrollbar-width: thin;
          scrollbar-color: teal teal;

          box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.63);
          -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.63);
          -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.63);
          overflow-x: scroll;

          *::-webkit-scrollbar {
            width: 1px;
          }
          *::-webkit-scrollbar-track {
            background: teal;
          }

          *::-webkit-scrollbar-thumb {
            background-color: teal;
            border-radius: 20px;
            border: 1px solid teal;
          }
          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
            width: 280px;
            img {
              width: 60px;
              height: 80px;
              object-fit: cover;
            }
            .search-notfound {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              font-size: 20px;
              font-weight: bold;
            }
            .info {
              display: flex;
              flex-direction: column;
              h1 {
                font-size: 18px;
                font-weight: 500;
                margin: 1px;
              }
              .author {
                font-size: 14px;
                font-weight: 300;
              }
              .price {
                font-size: bold;
              }
            }
          }
        }
        .search {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            font-size: 20px;
            font-weight: bold;
          }
          input {
            width: 250px;
            padding: 4px;
            background-color: turquoise;
            border-radius: 5px;
            border: none;
            font-size: 14px;
            cursor: pointer;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .bottom {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bottom-selected {
          height: 15vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 80%;
          .bottom-adjust {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            height: 25px;
            img {
              width: 25px;
              height: 25px;
              object-fit: scale-down;
            }
            .z-axis {
              width: 25px;
              height: 20px;
              object-fit: scale-down;
            }
          }
        }
        .update {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          button {
            width: 350px;
            padding: 5px;
            background-color: turquoise;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: none;
            font-size: 15px;
            cursor: pointer;
            border-radius: 5px;
          }
          button:hover {
            background-color: teal;
            color: white;
          }
        }
      }
    }
    .right {
      flex: 3;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image-holder {
        width: 95%;
        height: 85%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
          position: relative;
          z-index: 0;
        }
        .product-images {
          position: absolute;
          object-fit: scale-down;
          top: 0;
          left: 0;
          display: flex;
          z-index: 100;
          .image-container {
            position: inherit;
            .rotate-image {
              z-index: 5;
              .product-image {
                object-fit: fill;
                cursor: move;
                user-select: none;
              }
            }
            .product-delete {
              position: absolute;
              right: 0px;
              top: 0px;
              z-index: 6;
              color: red;
              border: 2px solid red;
              user-select: none;
              cursor: pointer;
            }
          }
        }
        .line-frame {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          .line-svg {
            .line {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
