.App {
  background-image: url("./img/background_logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  .link {
    color: inherit;
    text-decoration: none;
  }
}
