.products {
  min-height: 75vh;
  justify-content: center;
}
.product {
  min-height: 75vh;
  justify-content: center;
}
.error-page {
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.home {
  h1 {
    text-transform: uppercase;
    color: teal;
  }
  hr {
    width: 20vw;
    height: 2px;
    background-color: teal;
    border: none;
    margin-bottom: 50px;
  }
}
