.navbar {
  height: 80px;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      font-size: 20px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      display: flex;
      .logo {
        overflow: hidden;
        width: 400px;
        height: 60px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .icons {
      display: flex;
      gap: 15px;
      color: rgb(78, 82, 82);
      cursor: pointer;
      .cartIcon {
        position: relative;
        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgb(0, 255, 200);
          position: absolute;
          right: -10px;
          top: -10px;
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.footer {
  height: 150px;
  border: 2px solid rgb(143, 141, 141);
  background-color: rgb(173, 185, 185);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  .left {
    display: flex;
    gap: 50px;
  }
  .center {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .right {
    display: flex;
    gap: 20px;
  }
}
.slider {
  height: calc(100vh - 80px);
  width: 100vw;
  position: relative;
  overflow: hidden;
  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: 1s ease;
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
  .slider-icons {
    width: fit-content;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    gap: 3px;
    .slider-icon {
      width: 50px;
      height: 50px;
      border: 1px solid gray;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.featuredProducts {
  margin: 100px 200px;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h1 {
      flex: 2;
    }
    p {
      flex: 3;
      color: gray;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(50%);
  }
  @media (prefers-reduced-motion) {
    .bottom {
      transition: none;
    }
  }
  .visible {
    opacity: 1;
    transition: all 2s;
    filter: blur(0);
    transform: translateY(0);
  }
  @media (prefers-reduced-motion) {
    .visible {
      transition: none;
    }
  }
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px black;
  margin-bottom: 30px;
  .image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    &:hover {
      .secondImage {
        z-index: 2;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      transition: all 2s;
    }
    .firstImage {
      z-index: 1;
    }
    span {
      position: absolute;
      z-index: 3;
      top: 10px;
      left: 5px;
      background-color: white;
      color: limegreen;
      font-size: 14px;
      font-weight: bold;
      padding: 3px 5px;
    }
  }
  h2 {
    font-size: 25px;
    margin-bottom: -5px;
    margin-top: 10px;
    font-weight: 300;
    padding-left: 5px;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    padding-left: 5px;
  }
  .prices {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      font-weight: 400;
      font-size: 13px;
      &:first-child {
        color: gray;
        text-decoration: line-through;
      }
      &:last-child {
        color: rgb(255, 17, 0);
      }
    }
  }
}
.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .col-l {
    flex: 2;
  }
  .row {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
      position: absolute;
      min-width: 100px;
      width: fit-content;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 30px;
      border: none;
      border-radius: 5px;
      background-color: rgba(3, 128, 70, 0.7);
      padding: 5px;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      justify-content: center;
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.products {
  padding: 30px 50px;
  display: flex;
  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 30px;
    .filter {
      margin-bottom: 30px;
      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }
      .inputItem {
        margin-bottom: 7px;
        label {
          margin-left: 5px;
        }
      }
    }
  }
  .right {
    flex: 3;
  }
  .categoryImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.listCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 30px 30px 30px;
}
.product {
  padding: 40px 60px;
  display: flex;
  gap: 50px;
  .left {
    flex: 1;
    display: flex;
    gap: 20px;
    .images {
      flex: 1;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImage {
      flex: 5;
      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
        box-shadow: 2px 2px 15px black;
      }
    }
  }
  .right {
    h1 {
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      font-style: italic;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    .price {
      font-size: 25px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
      font-weight: 250;
      text-align: justify;
    }
    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background-color: turquoise;
        border-radius: 15%;
      }
      margin-bottom: 15px;
    }
    .cart {
      display: flex;
      justify-content: center;
      .addTo {
        width: 250px;
        padding: 10px;
        background-color: turquoise;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 20px;
      cursor: pointer;
      .item {
        display: flex;
        align-items: center;
        gap: 6px;
        color: rgb(3, 75, 75);
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 15px;
      font-size: 25px;
      .info-about {
        font-weight: 300;
        font-size: 15px;
        font-style: italic;
        color: gray;
      }
    }
  }
}
