.navbar-placeholder {
  height: 80px;
}
.navbar {
  user-select: none;
  height: 75px;
  box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  background-color: rgba(255, 255, 255, 0.73);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      font-size: 20px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
      .logo {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 60px;
      }
    }
    .center {
      display: flex;
      align-items: center;
      gap: 25px;
      .logo {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 60px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .icons {
      display: flex;
      gap: 15px;
      color: rgb(78, 82, 82);
      cursor: pointer;
      .cartIcon {
        position: relative;
        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgb(0, 255, 200);
          position: absolute;
          right: -10px;
          top: -10px;
          justify-content: center;
          display: flex;
          align-items: center;
          user-select: none;
        }
      }
      .active {
        color: green;
      }
    }
    .wishlist:hover {
      color: red;
    }
  }
}
@media screen and (min-width: 950px) {
  .right {
    .mobile {
      display: none;
    }
  }
  .mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .navbar {
    .wrapper {
      .left {
        .logo {
          width: 200px;
          height: 60px;
        }
      }
      .center {
        display: none;
      }
      .right {
        .mobile {
          cursor: pointer;
        }
      }
    }
    .navbar-mobile {
      user-select: none;
      z-index: 999;
      position: fixed;
      top: 0;
      right: 0;
      width: 40vw;
      height: 100vh;
      overflow-x: scroll;
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      .navbar-close {
        cursor: pointer;
        margin-left: 10px;
        margin-top: 10px;
      }
      .navbar-menu-browse {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        margin-left: 30%;
        margin-right: 30%;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        div {
          color: aqua;
        }
      }
      .navbar-menu-items {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        div {
          color: aqua;
        }
      }
    }
    .show {
      transform: translateX(0);
      transition: all 0.5s ease;
    }
    .mobile-navbar-placeholder {
      display: flex;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(5px);
      --webkit-backdrop-filter: blur(5px);
      transition: 1s ease-in-out;
      z-index: 995;
    }
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    .wrapper {
      height: 60px;
      .left {
        .logo {
          width: 140px;
          height: 40px;
        }
      }
      .center {
        display: none;
      }
      .right {
        .mobile {
          cursor: pointer;
        }
      }
    }
  }
}
.footer {
  height: 50px;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  .left {
    display: flex;
    gap: 50px;
  }
  .center {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .right {
    cursor: pointer;
    display: flex;
    gap: 20px;
  }
}
.slider {
  height: calc(100vh - 80px);
  width: 99.7vw;
  position: relative;
  overflow: hidden;
  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: 1s ease;
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
    .info {
      position: absolute;
      margin-left: 33vw;
      margin-top: 15vh;
      backdrop-filter: blur(10px);
      background-color: rgba($color: #9e9e9e, $alpha: 0.3);
      min-width: 400px;
      min-height: 400px;
      width: 35vw;
      height: 35vh;
      border-radius: 10px;
      color: white;
      font-size: 24px;
      font-weight: bolder;
      text-align: justify;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .slider-link {
        margin-top: 20px;
        padding: 10px 20px;
        border: 2px solid white;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        color: white;
      }
    }
    .modal-1 {
      transform: translateX(0);
    }
    .modal-2 {
      transform: translateX(100vw);
    }
    .modal-3 {
      transform: translateX(200vw);
    }
    @media (max-width: 900px) {
      .info {
        margin: 0;
        min-width: 0;
        min-height: 0;
        position: absolute;
        width: 75vw;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 20vw;
      }
    }
    @media (max-width: 1250px) {
      .info {
        p {
          font-size: 22px;
        }
      }
    }
    @media (max-width: 650px) {
      .info {
        p {
          font-size: 20px;
        }
      }
    }
    @media (max-width: 450px) {
      .info {
        p {
          font-size: 18px;
        }
      }
    }
  }

  .slider-icons {
    width: fit-content;
    position: absolute;
    display: flex;
    margin: auto;
    .slider-icon {
      position: absolute;
      display: flex;
      bottom: 0;
      margin: auto;
      width: 30vw;
      height: 100vh;
      display: flex;
      cursor: pointer;
    }
    .right {
      position: absolute;
      display: flex;
      left: 0;
    }
    .left {
      position: absolute;
      display: flex;
      left: 70vw;
    }
  }
  @media (max-width: 900px) {
    .slider-icons {
      display: none;
    }
  }
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h1 {
      text-transform: uppercase;
      color: teal;
    }
    hr {
      width: 20vw;
      height: 2px;
      background-color: teal;
      border: none;
    }
  }
  .bottom {
    display: grid;
    justify-content: center;
    gap: 2rem;
    gap: 50px;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(30%);
    max-height: 450px;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
  @media (prefers-reduced-motion) {
    .bottom {
      transition: none;
    }
  }
  .visible {
    opacity: 1;
    transition: all 1s;
    filter: blur(0);
    transform: translateY(0);
  }
  @media (prefers-reduced-motion) {
    .visible {
      transition: none;
    }
  }
  @media (max-width: 800px) {
    .bottom {
      grid-template-columns: repeat(2, 1fr);
      max-height: 350px;
    }
  }
  @media (max-width: 880px) {
    .bottom {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1100px) {
    .bottom {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1450px) {
    .bottom {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1800px) {
    .bottom {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.card {
  width: 300px;
  height: 415px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px black;
  margin-bottom: 30px;
  user-select: none;
  background-color: white;
  .image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    &:hover {
      .secondImage {
        z-index: 2;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      position: absolute;
      transition: all 2s;
    }
    .firstImage {
      z-index: 1;
    }
    span {
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 5px;
      background-color: white;
      color: limegreen;
      font-size: 14px;
      font-weight: bold;
      padding: 3px 5px;
    }
  }
  h2 {
    font-size: 25px;
    margin-bottom: -5px;
    margin-top: 10px;
    font-weight: 300;
    padding-left: 5px;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    padding-left: 5px;
  }
  .prices {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      font-weight: 400;
      font-size: 13px;
      &:first-child {
        color: gray;
        text-decoration: line-through;
      }
      &:last-child {
        color: rgb(255, 17, 0);
      }
    }
    .normal {
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 10px;
      padding-left: 5px;
    }
  }
}

@media (max-width: 800px) {
  .card {
    height: 300px;
    max-width: 200px;
  }
}
@media (max-width: 1050px) {
  .card {
    width: 250px;
  }
}
@media (min-width: 1100px) {
  .card {
    width: 300px;
  }
}
@media (min-width: 1450px) {
  .card {
    width: 250px;
  }
}
@media (min-width: 1800px) {
  .card {
    width: 300px;
  }
}
.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
  user-select: none;
  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .col-l {
    flex: 2;
  }
  .row {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
      position: absolute;
      min-width: 100px;
      width: fit-content;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 30px;
      border: none;
      border-radius: 5px;
      background-color: rgba(3, 128, 70, 0.7);
      padding: 5px;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      justify-content: center;
      text-align: center;
    }
    @media (max-width: 600px) {
      span {
        min-width: 50px;
        font-size: 12px;
      }
    }
    .wide {
      width: 100%;
    }
    a {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.products {
  padding: 30px 50px;
  display: flex;
  .left-navbar {
    display: none;
  }
  .left,
  .left-navbar-open {
    user-select: none;
    flex: 1;
    position: sticky;
    height: 100%;
    top: 70px;
    padding-right: 50px;

    .filter {
      margin-bottom: 30px;
      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }
      .inputItem {
        margin-bottom: 7px;
        label {
          margin-left: 5px;
        }
      }
      .priceButton {
        width: 100px;
        margin-left: 40px;
        margin-top: 15px;
        padding: 10px;
        background-color: turquoise;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
      .category {
        margin-bottom: 10px;
        font-size: 30px;
        cursor: pointer;
        color: teal;
      }
      .category:not(:hover) {
        opacity: 0.5;
      }
    }
    .left-navbar-open {
      // display: none;
    }
  }
  .right {
    flex: 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .categoryImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1050px) {
  .products {
    .list {
      display: none;
    }
    .mobile-navbar-placeholder {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      --webkit-backdrop-filter: blur(5px);
      transition: 1s ease-in-out;
      z-index: 995;
    }
    .left-navbar {
      display: flex;
      user-select: none;
      position: sticky;
      height: 100%;
      top: 50%;
      z-index: 999;
      .left-navbar-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(1, 255, 158, 0.43);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        margin-left: -10px;
      }
      .left-navbar-open {
        display: flex;
        user-select: none;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100vh;
        overflow-x: scroll;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        cursor: default;
        .filter {
          padding-left: 30px;
        }
        .category {
          color: rgb(0, 255, 200);
        }
        .search {
          width: 300px;
          height: 40px;
          padding: 5px;
          border: none;
          background: none;
          border-bottom: 1px solid white;
          outline: none;
          font-size: 20px;
          font-weight: 500;
          color: white;
        }
      }
      .show {
        transform: translateX(0%);
        transition: all 0.5s ease;
      }
      .show-button {
        transform: translateX(30vw);
        transition: all 0.5s ease;
      }
      .hide {
        transform: translateX(-100%);
        transition: all 0.5s ease;
      }
      .hide-button {
        transform: translateX(0);
        transition: all 0.5s ease;
      }
    }
    .left {
      display: none;
    }
    .right {
      flex: 8;
      .card {
        width: 300px;
      }
    }
  }
}
.listCards {
  padding: 30px 30px 30px 0px;
  min-height: 80vh;
  max-width: 1200px;

  display: grid;
  gap: 2rem;
  justify-content: center;
}
@media (min-width: 500px) {
  .listCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .listCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1300px) {
  .listCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1900px) {
  .listCards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 2300px) {
  .listCards {
    grid-template-columns: repeat(5, 1fr);
  }
}
.product {
  .back-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: teal;
    width: 100px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .back-arrow:hover {
    border-bottom: 1px solid teal;
  }
  .product-container {
    padding: 40px 60px;
    display: flex;
    gap: 50px;
    .left {
      flex: 1;
      display: flex;
      gap: 20px;
      .images {
        flex: 1;
        img {
          width: 100%;
          object-fit: scale-down;
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
      .mainImage {
        flex: 5;
        img {
          width: 100%;
          object-fit: scale-down;
          box-shadow: 2px 2px 15px black;
        }
      }
    }
    .right {
      h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      .price {
        font-size: 25px;
        font-weight: 300;
      }
      p {
        font-size: 18px;
        font-weight: 250;
        text-align: justify;
      }
      .quantity {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        user-select: none;
        button {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          background-color: turquoise;
          border-radius: 15%;
        }
        margin-bottom: 15px;
      }
      .add-to-cart {
        display: flex;
        justify-content: center;
        .addTo {
          width: 250px;
          padding: 10px;
          background-color: turquoise;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          border: none;
          font-size: 20px;
          cursor: pointer;
        }
      }
      .links {
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 20px;
        cursor: pointer;
        user-select: none;
        .item {
          display: flex;
          align-items: center;
          gap: 6px;
          color: rgb(3, 75, 75);
        }
        .item-exists {
          display: flex;
          align-items: center;
          gap: 6px;
          color: red;
        }
        // .item-exists:hover {
        //   color: rgb(3, 75, 75);
        // }
      }
      .info {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 15px;
        font-size: 25px;
        .info-about {
          font-weight: 300;
          font-size: 15px;
          font-style: italic;
          color: gray;
        }
      }
    }
  }

  @media (max-width: 1350px) {
    .product-container {
      flex-direction: column;
      .left {
        .images {
          display: none;
        }

        .mainImage {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 50vw;
            object-fit: scale-down;
            box-shadow: 2px 2px 15px black;
          }
        }
      }
      .right {
        .links {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .product-container {
      .left {
        .mainImage {
          display: flex;
          align-items: baseline;
          justify-content: center;
          img {
            width: 65vw;
            object-fit: scale-down;
            box-shadow: 2px 2px 15px black;
          }
        }
      }
    }
  }
}

.cart {
  position: fixed;
  right: 30px;
  top: 75px;
  z-index: 999;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  h1 {
    margin-bottom: 10px;
    color: rgb(9, 182, 124);
    font-weight: 400;
    font-size: 28px;
    user-select: none;
  }
  .cart-items {
    max-height: 330px;
    max-width: 400px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: teal teal;
    *::-webkit-scrollbar {
      width: 1px;
      scrollbar-width: thin;
      scrollbar-color: teal teal;
    }

    *::-webkit-scrollbar-track {
      background: teal;
    }

    *::-webkit-scrollbar-thumb {
      background-color: teal;
      border-radius: 20px;
      border: 1px solid teal;
    }
    @media (max-width: 500px) {
      max-height: 300px;
      max-width: 300px;
      width: 300px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    img {
      width: 60px;
      height: 80px;
      object-fit: cover;
    }
    .info {
      h1 {
        width: 280px;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        color: gray;
        font-size: 14px;
      }
      .price {
        font-size: bold;
      }
    }
    .delete {
      cursor: pointer;
      position: relative;
      color: rgb(141, 3, 3);
      font-size: 35px;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
  }
  .checkout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    .checkout {
      width: 250px;
      padding: 10px;
      background-color: turquoise;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border: none;
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }

  .reset-cart {
    color: red;
    cursor: pointer;
    text-decoration: underline;
  }
}
.user-panel {
  position: fixed;
  right: 110px;
  top: 75px;
  z-index: 1001;
  background-color: white;
  width: 150px;
  height: 150px;
  padding: 15px;
  box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  .user-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    button {
      width: 130px;
      height: 50px;
      padding: 5px;
      background-color: turquoise;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.search-navbar {
  position: fixed;
  right: 20px;
  top: 75px;
  z-index: 1001;
  background-color: white;
  width: 370px;
  min-height: 100px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 15px;
  user-select: none;
  box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 8px 5px 1px rgba(0, 0, 0, 0.14);
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .search-input {
      width: 300px;
      height: 40px;
      padding: 5px;
      border: none;
      border-bottom: 1px solid gray;
      outline: none;
      font-size: 20px;
      font-weight: 500;
    }
    .search-results {
      color: gray;
      font-size: 15px;
      width: 100%;
      display: flex;
      margin-top: -10px;
      font-style: italic;
    }

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      width: 300px;
      img {
        width: 60px;
        height: 80px;
        object-fit: cover;
      }
      .search-notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: bold;
      }
      .info {
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 18px;
          font-weight: 500;
          margin: 1px;
        }
        .author {
          font-size: 14px;
          font-weight: 300;
        }
        .price {
          display: flex;
          flex-direction: column;
          font-size: bold;

          .measurements {
            font-size: 10px;
          }
        }
      }
    }
    .item:hover {
      background-color: teal;
      color: white;
      cursor: pointer;
    }
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 5px solid #babbbb;
  border-top: 5px solid teal;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.checkout-modal {
  background-color: rgba($color: #ffffff, $alpha: 0.94);

  .checkout-form {
    padding: 30px;
    width: 35vw;
    height: 85vh;
    overflow-y: scroll;

    .shipping-details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
      }
    }
    .FormGroup {
      margin: 0 15px 20px;
      border-style: none;
      background-color: rgb(6, 187, 163);
      border-radius: 4px;
    }
    .spin {
      display: flex;
      justify-content: center;
    }
    .cart-information {
      div {
        display: flex;
        justify-content: space-between;
        color: gray;
        border-bottom: 1px dotted gray;
        text-transform: uppercase;
      }
      .total {
        border: none;
        margin-top: 10px;
        h3 {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .FormRow {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      flex-direction: column;
      align-items: center;
      color: white;
      font-size: 20px;
      font-weight: 500;
      width: 100%;
      input {
        width: 90%;
        border-radius: 4px;
        background-color: rgb(8, 158, 138);
        border: none;
        padding: 3px;
        color: #fff;
        font-size: 19px;
        font-family: "Source Code Pro", monospace;
        font-weight: 500;
        letter-spacing: 0.025em;
      }
    }
    .FormRowName {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 20px;
      font-weight: 500;

      input {
        width: 90%;
        background-color: rgb(6, 187, 163);
        border: none;
        border-bottom: 1px solid white;
        padding: 3px;
        color: #fff;
        font-size: 19px;
        font-family: "Source Code Pro", monospace;
        font-weight: 500;
        letter-spacing: 0.025em;
        ::placeholder {
          color: white;
        }
      }
    }

    .StripeElement--webkit-autofill {
      background: transparent !important;
    }

    .StripeElement {
      width: 98%;
      padding: 11px 15px 11px 0;
    }
    span {
      color: gray;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      font-style: italic;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    button {
      display: block;
      font-size: 16px;
      width: calc(100% - 30px);
      height: 40px;
      background-color: #00d6a1;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06);
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all 100ms ease-in-out;
      will-change: transform, background-color, box-shadow;
      border: none;
      margin-bottom: 15px;
    }
    button:hover {
      background-color: #01a37b;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06);
    }
  }
  @media (max-width: 1100px) {
    .checkout-form {
      width: 50vw;
    }
  }
  @media (max-width: 750px) {
    .checkout-form {
      width: 60vw;
    }
  }
  @media (max-width: 600px) {
    .checkout-form {
      width: 85vw;
    }
  }
}
.order-modal {
  background-color: rgba($color: #f8f8f8, $alpha: 0.9);
  padding: 30px;
  width: 35vw;
  height: 85vh;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  .logo {
    height: 20%;
  }
  .details {
    display: flex;
    width: 60%;
    padding-bottom: 2px;
  }
  .order-cart-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    .order-cart-products {
      width: 60%;
      display: flex;
      flex-direction: column;
      color: gray;

      height: 25%;
      overflow-y: scroll;
      padding-left: 5px;
      padding-right: 5px;
      .order-cart-product {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted gray;
      }
    }
    .order-cart-total {
      width: 60%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    .order-cart-shipping {
      width: 60%;
      div {
        display: flex;
        justify-content: space-between;
        color: gray;
        border-bottom: 1px dotted gray;
      }
    }
    .order-cart-status {
      width: 60%;
      div {
        display: flex;
        justify-content: space-between;
        color: gray;
        border-bottom: 1px dotted gray;
        text-transform: uppercase;
      }
      .edit-status {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
        select {
          width: 100%;
          height: 30px;
          border-radius: 4px;
          background-color: rgb(8, 158, 138);
          border: none;
          padding: 3px;
          color: #fff;
          font-size: 19px;
          font-family: "Source Code Pro", monospace;
          font-weight: 500;
          letter-spacing: 0.025em;
        }
        button {
          background-color: #4df0da;
          border: none;
          color: #000000;
          padding: 10px 20px;
          border-radius: 3px;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .order-modal {
    width: 50vw;
  }
}
@media (max-width: 1100px) {
  .order-modal {
    width: 60vw;
  }
}
@media (max-width: 900px) {
  .order-modal {
    width: 70vw;
    h1 {
      font-size: 20px;
    }
    .logo {
      height: 15%;
    }
  }
}
@media (max-width: 600px) {
  .order-modal {
    width: 90vw;
  }
}
