.login {
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../../img/slider/1.jpg");
  background-size: cover;
  .login-window {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    color: white;
    margin-top: 40px;
    width: 30vw;
    height: 70vh;
    border-radius: 5px;
    overflow-y: scroll;
    .login-form {
      letter-spacing: 3px;
      .login-form-email,
      .login-form-password {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 30px;
        .visible {
          color: #00f3aa;
        }
      }
      label {
        font-size: 27px;
      }
      .form-input {
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        font-size: 14px;
        font-weight: 300;
      }
      input {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .login-form-submit {
        .login-form-submit-button {
          width: 25vw;
          color: white;
          font-size: 25px;
          background-color: rgba(255, 255, 255, 0.07);
          cursor: pointer;
        }
      }
    }
    .navigate-register {
      margin-top: 20px;
      color: white;
    }
    .navigate-register:hover {
      color: #00f3aa;
    }
    a {
      text-decoration: none;
    }
  }
}

.register {
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../../img/slider/1.jpg");
  background-size: cover;
  .register-window {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    color: white;
    margin-top: 40px;
    width: 30vw;
    height: 80vh;
    border-radius: 5px;
    overflow-y: scroll;
    .register-form {
      letter-spacing: 3px;
      .register-name {
        padding-right: 45px;
      }
      .register-form-name {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
      }
      .register-form-email,
      .register-form-password {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 30px;
        .visible {
          color: #00f3aa;
        }
      }
      label {
        font-size: 27px;
      }
      .form-input {
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        font-size: 14px;
        font-weight: 300;
      }
      input {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .register-form-submit {
        .register-form-submit-button {
          width: 25vw;
          color: white;
          font-size: 25px;
          background-color: rgba(255, 255, 255, 0.07);
          cursor: pointer;
        }
      }
      span {
        letter-spacing: 0px;
        color: #f30000;
        font-weight: bolder;
        margin-top: 3px;
      }
    }
    .navigate-login {
      margin-top: 20px;
      color: white;
    }
    .navigate-login:hover {
      color: #00f3aa;
    }
    a {
      text-decoration: none;
    }
  }
}
.error-message {
  color: red;
  font-size: 20px;
}
.wishlist-page {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: teal;
  .wishlist-container {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
    margin: 0 auto;
    width: 60vw;
    height: 85%;
    border-radius: 5px;
    overflow-y: scroll;
    .wishlist-items {
      .wishlist-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 5%;
        padding-right: 5%;
        box-shadow: 0 0 10px rgba(8, 7, 16, 0.4);
        margin-bottom: 3%;
        margin-top: 1%;
        user-select: none;
        cursor: pointer;
        img {
          width: 120px;
          height: 150px;
          object-fit: cover;
        }
        .info {
          text-align: left;
          display: flex;
          flex-direction: column;
          h1 {
            width: 280px;
            font-size: 18px;
            font-weight: 500;
          }
          h2 {
            color: gray;
            font-size: 12px;
            text-align: justify;
          }
          h3 {
            color: gray;
            font-size: 14px;
          }
          .price {
            font-size: bold;
          }
        }
      }
    }
  }
  @media (max-width: 1400px) {
    .wishlist-container {
      width: 90vw;
    }
  }
}

.order-page {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: teal;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 30px;
      width: 350px;
    }

    .arrow {
      cursor: pointer;
    }
  }
  .order-container {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
    margin: 0 auto;
    width: 60vw;
    height: 85%;
    border-radius: 5px;
    overflow-y: scroll;
    h2 {
      font-size: 26px;
      margin: 20px 0;
      text-align: center;
      small {
        font-size: 0.5em;
      }
    }
  }
  @media (max-width: 1400px) {
    .order-container {
      width: 90vw;
    }
  }
}
.responsive-table {
  padding-left: 20px;
  padding-right: 20px;
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #4df0da;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
    text-transform: uppercase;
  }
  .col-4 {
    flex-basis: 25%;
  }
  .more {
    background-color: #4df0da;
    color: #000000;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    cursor: pointer;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
